@media screen and (min-width:1024px){
    .main{
        background-image: url(../assets/CastleInField.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        height: 100vh;
        min-width: 360px;
        width: 100vw;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        .card_panel{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            min-width: fit-content;
            width:95%;
            max-width: 95%;
            height: 500px;     
            
            button{
                height: 90%;
            }
        }

        .bottom_bar{
            margin-bottom:20px;
            margin-top:20px;
        }
    }
}

@media screen and (min-width:360px) and (max-width:1023px){
    .main{
        background-image: url(../assets/CastleInField.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        height: 100vh;
        min-width: 360px;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-y: scroll;

        .card_panel{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-self: center;
            justify-content: flex-start;

            width:90%;            
            min-height: fit-content;

        }

        .bottom_bar{
            margin-bottom:20px;
            margin-top:20px;
        }
    }
}