main{
    background-image: url(../assets/CastleInField.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-width: 360px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top_bar{
        border: solid black;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content:center;
        flex-grow:0,0,0;

        min-width: 80%;
        width: 95%;
        max-width: 95%;
        min-height: fit-content;
        height: 100px;
        max-height:20%;

        margin-top: 20px;
        margin-bottom: 20px;

        img{
            border: solid black;
            border-radius: 75px;
            background-color: rgba(255, 255, 255, 0.5);

            height: 120px;
            width: 120px;
            
            margin-left: 15px;
        }

        .title_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            text-align: center;

        }

        .dashboard_menu{
            border: solid black;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.5);

            height: 120px;
            width: 120px;

            margin-right: 15px;
        }

    }

    .tool_bar{
        border: solid black;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);
        min-width: fit-content;
        width:95%;
        max-width: auto;
        min-height: fit-content;
        height:10%;
        max-height: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .card_panel{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-width: fit-content;
        width:95%;
        max-width: 95%;
        height: 500px;

        .card{
            border: solid black;
            border-radius: 25px;
            background-color: rgba(0, 0, 0, 0.5);



            min-width:10%;
            width: 20%;
            max-width:50%;

            font-weight: bolder;
            font-size:xx-large;
            
        }

    }

    .bottom_bar{
        margin-bottom:20px;
        margin-top:20px;
    }
}