main{
    background-image: url(../assets/CastleInField.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-width: 360px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top_bar{
        background-color: red;
        display: flex;
        justify-content: space-between;
        min-width: 80%;
        width: 95%;
        max-width: 95%;
        min-height: fit-content;
        height: 100px;
        max-height:20%;
        margin-top: 20px;
        margin-bottom: 20px;

        img{
            height: 100px;
            width: 100px;
        }
    }

    .tool_bar{
        background-color: rgb(87, 1, 95);
        min-width: fit-content;
        width:95%;
        max-width: auto;
        min-height: fit-content;
        height:15%;
        max-height: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .card_panel{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-width: fit-content;
        width:95%;
        max-width: 95%;
        height: 500px;

        .card{
            border: solid black;
            border-radius: 25px;
            min-width:10%;
            width: 20%;
            max-width:50%;
            background-color: rgba(0, 0, 0, 0.5);

            font-weight: bolder;
            font-size: larger;
            
        }

    }

    .bottom_bar{
        background-color: black;
        margin-bottom:20px;
        margin-top:20px;
    }
}