@media screen and (min-width:1024px) {
    .main{
        
        background-repeat: no-repeat;
        background-size: cover;

        height: 100dvh;
        min-width: 360px;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .bars{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        min-width: 80%;
        height: fit-content;
    }
    
    .top_bar{
        border: solid black;
            border-radius: 25px;
            background-color: rgba(0, 0, 0, 0.5);
    
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content:center;
            flex-grow:0,0,0;
    
            min-width: 80%;
            width: 95%;
            max-width: 95%;
            min-height: fit-content;
            height: 100px;
            max-height:20%;
    
            margin-top: 20px;
            margin-bottom: 20px;
    
            img{
                border: solid black;
                border-radius: 75px;
                background-color: rgba(255, 255, 255, 0.15);
    
                height: 120px;
                width: 120px;
                
                margin-left: 15px;
            }

            .title_box{
                align-items: center;             
                text-align: center;
            }
    }
    
}

@media screen and (min-width:360px)
and (max-width: 1023px){
    .main{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100dvh;
        min-width: 360px;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-y: scroll;

        .CardPanel{
            border: solid blue !important;
        }

        .bars{
            display: flex;
            flex-direction: column;
            align-items: center;
        
            min-width: 50%;
            width: 100%;
            height: fit-content;   
        }
    
        .top_bar{
            border: solid black;
            border-radius: 25px;
            background-color: rgba(0, 0, 0, 0.5);

            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content:center;

            min-width: 80%;
            width: 95%;
            max-width: 95%;
            min-height: fit-content;
            height: 100px;
            max-height:20%;

            img{
                border: solid black;
                border-radius: 75px;
                background-color: rgba(255, 255, 255, 0.15);

                height: 75px;
                width: 75px;
                
                margin-left: 5px;
            }
        }
    } 
}
