@media screen and (min-width:1024px){
    .card{
        border: solid black;
        border-radius: 25px;
        border-width: 2px;
        background-color: rgba(75, 75, 75, 0.5);

        min-width:15%;
        width: 18%;
        max-width:50%;
        min-height:25%;
        height:25%;

        font-size:25px;
        font-weight: bold;

        margin: 5px;

        overflow:hidden;
        text-overflow:ellipsis;

        display: flex;
        flex-direction: column;
        justify-content: center;

        button{
            background:none;
            height: 100%;
            font-size: large;
            border-radius:25px;
        }
        p{
            text-align: center;
            align-self: center;
        }
    }
    .card:hover{
        border-color: #fc0;
        cursor:pointer;
        p{
            text-shadow: #fc0 1px 0 5px, white 1px 0 10px;
        }
    }
    .popover{
        background-color:rgba(75, 75, 75, 0.5);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;

    }
    
    :global(.MuiPaper-root){
        border: solid rgb(100, 100, 100);
        border-radius:20px !important;
        border-width:2px;
        background-color: rgba(0, 0, 0, 0.8) !important;

        display:flex;
        flex-direction: column;

        width:55% !important;
        height: fit-content !important;

        max-height: 95% !important;

        margin-left: 20% !important;
        margin-right: 20% !important;
        margin-top:5px !important;
        margin-bottom:5px !important;
        padding-left: 20px;
        padding-right:20px;

        color: aliceblue !important;

        .button_panel{
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;

            
        }

        textarea{
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;

            padding: 5px;

            width: 45%;
            height: 100px;
        }

        .Autocomplete{
            border: solid rgb(100, 100, 100);
            background-color: rgba(75, 75, 75, 1);
            border-radius: 5px;

            width:45%;
        
            input{
                color: white;
                border:none;
            }
        }
        .icon:hover{
            cursor: pointer;
        }
    }

    .details_division{
        display: flex;
        flex-direction: column;
        height: 750px;

        justify-content: space-between;

        .details_top{
            display:flex;
            flex-direction: row;
            width:100%;
            height:50%;
            max-height: 50%;
            
            input{
                max-width: 75%;
            }
            img{
                max-width:20%;
                max-height: 100%;
    
                align-content: center;
                align-self: center;  
            }
            .info{
                padding: 2%;
            }
        }
        .details_bottom{
            display: flex;
            flex-direction: column;
            width:100%;
            height: 50%;
            max-height: 50%;
    
            justify-content: center;
            align-items: center;

            .notes{
                border: solid rgb(100, 100, 100);
                background-color: rgba(75, 75, 75, 1) ;
                font-size: larger;
                font-family: 'Times New Roman', Times, serif;
    
                padding: 5px;
    
                width: 95%;
                height: 70%;
                max-height: 100%;
    
                text-wrap: wrap;
                text-wrap-style: pretty;
            }
    
            img{
                
                max-width:100%;
                max-height: 100%;
    
                align-content: center;
                align-self: center;
                
            }
        }
    }
    

    .add_edit{
        display: flex;
        flex-direction: column;

        justify-content: space-around;


        input{
            width: 95%;
        }

        textarea{
            width:95%;
        }

        img{ 
            max-width:100%;
            max-height: 100%;
        }
    }
}






@media screen and (min-width:360px)
and (max-width: 1023px){
    .card{
        border: solid black;
        border-radius: 10px;
        border-width: 2px;
        background-color: rgba(75, 75, 75, 0.5);

        min-width:15%;
        width: 40%;
        max-width:50%;
        min-height:25%;
        height:25%;

        font-size:20px;
        font-weight: bold;

        margin: 5px;

        overflow:hidden;
        text-overflow:ellipsis;

        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        justify-content: center;

        button{
            background:none;
            height: 100%;
            font-size: small;
            border-radius:25px;
        }
        p{
            text-align: center;
            align-self: center;
        }
    }
    .card:hover{
        border-color: #fc0;
        cursor:pointer;
        p{
            text-shadow: #fc0 1px 0 5px, white 1px 0 10px;
        }
    }
    .popover{
        background-color:rgba(75, 75, 75, 0.5);
    }
    
    :global(.MuiPaper-root){
        border: solid rgb(100, 100, 100);
        border-radius:20px !important;
        border-width:2px;
        background-color: rgba(0, 0, 0, 0.8) !important;        

        display:flex;
        flex-direction: column;

        width:80% !important;

        height: fit-content !important;
        max-height: 95% !important;

        margin-top:5px !important;
        margin-bottom:5px !important;
        padding-left: 20px;
        padding-right:20px;

        color: aliceblue !important;

        .button_panel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex-wrap: nowrap;

            width: 100%;

            margin-top: 5px;
            margin-bottom: 10px;

            button{
                flex-basis: 20%;
                height: 40px;

                text-align:center;
                justify-content: center;
            }           
        }

        textarea{
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;

            padding: 5px;

            width: 45%;
            height: 100px;
        }

        .Autocomplete{
            border: solid rgb(100, 100, 100);
            background-color: rgba(75, 75, 75, 1);
            border-radius: 5px;

            width:45%;
        
            input{
                color: white;
                border:none;
            }
        }
        .icon:hover{
            cursor: pointer;
        }
    }

    .details_division{
        display: flex;
        flex-direction: column;
        height: 80vh;

        justify-content: space-between;

        .details_top{
            display:flex;
            flex-direction: column;
            width:100%;
            height:50%;
            max-height: 50%;

            
            overflow-y: scroll;
            
            input{
                max-width: 75%;
            }
            img{
                max-height: 30%;
                max-width:50%;
    
                align-content: center;
                align-self: center;  
            }
            .info{
                text-align: center;

                height: 20%;
                max-height: 20%;
                
                h2{
                    margin: 5px;
                    font-size:larger;
                }
                h3{
                    margin: 5px;
                    font-size: large;
                }
                .sub_container{
                    display: flex;
                    justify-content: center;
                    
                    h5{
                        font-size: small;

                        margin-top: 5px;
                        margin-bottom: 5px;                        
                    }
                }
            }
        }
        .details_bottom{
            display: flex;
            flex-direction: column;
            width:100%;
            height: 50%;
            max-height: 50%;
    
            justify-content: center;
            align-items: center;
            

            .notes{
                border: solid rgb(100, 100, 100);
                background-color: rgba(75, 75, 75, 1) ;
                font-size: larger;
                font-family: 'Times New Roman', Times, serif;
    
                padding: 5px;
    
                width: 95%;
                height: 70%;
                max-height: 100%;
    
                text-wrap: wrap;
                text-wrap-style: pretty;
            }
    
            img{
                
                max-width:100%;
                max-height: 100%;
    
                align-content: center;
                align-self: center;
                
            }
        }
    }
    

    .add_edit{
        display: flex;
        flex-direction: column;

        justify-content: space-around;


        input{
            width: 95%;
        }

        textarea{
            width:95%;
        }

        img{ 
            max-width:100%;
            max-height: 100%;
        }

        .Autocomplete{
            width:100%;
        }
    }
}