@media screen and (min-width:1024px){
    .card{
        border: solid black;
        border-radius: 25px;
        border-width: 2px;
        background-color: rgba(75, 75, 75, 0.5);

        min-width:15%;
        width: 18%;
        max-width:50%;
        min-height:25%;
        height:25%;

        font-size:25px;
        font-weight: bold;

        margin: 5px;

        overflow:hidden;
        text-overflow:ellipsis;

        display: flex;
        flex-direction: column;
        justify-content: center;

        button{
            background:none;
            height: 100%;
            font-size: large;
            border-radius:25px;
        }
        p{
            text-align: center;
            align-self: center;
        }
    }
    .card:hover{
        border-color: #fc0;
        cursor:pointer;
        p{
            text-shadow: #fc0 1px 0 5px, white 1px 0 10px;
        }
    }
    .popover{
        background-color:rgba(75, 75, 75, 0.5);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;

    }

    .division{
        display: flex;
        flex-direction: row;
    }
    
    :global(.MuiPaper-root){
        border: solid rgb(100, 100, 100);
        border-radius:20px !important;
        border-width:2px;
        background-color: rgba(0, 0, 0, 0.8) !important;

        display:flex;
        flex-direction: column;

        width:55% !important;
        height: 90% !important;

        max-height: fit-content !important;

        margin-left: 20% !important;
        margin-right: 20% !important;
        margin-top:5px !important;
        padding-left: 20px;
        padding-right:20px;

        color: aliceblue !important;

        .button_panel{
            display: flex;
            flex-direction: row;
            justify-content: right;
            
        }

        textarea{
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;

            padding: 5px;

            width: 45%;
            height: 200px;
        }

        .Autocomplete{
            border: solid rgb(100, 100, 100);
            background-color: rgba(75, 75, 75, 1);
            border-radius: 5px;

            width:45%;
        
            input{
                color: white;
                border:none;
            }
        }

        .notes{
            border: solid rgb(100, 100, 100);
            background-color: rgba(75, 75, 75, 1) ;
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;

            padding: 5px;

            width: 45%;
            height: 500px;

            text-wrap: wrap;
            text-wrap-style: pretty;
        }
    }    
}

@media screen and (min-width:360px)
and (max-width: 1023px){
    .card{
        border: black;
        border-radius: 5px;
        background-color: rgba(75, 75, 75, 0.5);

        scroll-snap-align:center;

        min-width:25%;
        width: 25%;
        max-width:50%;
        min-height:25%;
        height:25%;

        font-weight: bolder;
        font-size:xx-large;

        margin: 5px;

        text-align: center;
        overflow:hidden;
        text-overflow:ellipsis;

        .display{
            background-color:rgba(75, 75, 75, 0.5);
        }
    }
}