@media screen and (min-width:1024px){
    .card{
        border: solid black;
        border-radius: 25px;
        border-width: 2px;
        background-color: rgba(75, 75, 75, 0.5);

        min-width:15%;
        width: 18%;
        max-width:50%;
        min-height:25%;
        height:25%;

        font-size:25px;
        font-weight: bold;

        margin: 5px;

        overflow:hidden;
        text-overflow:ellipsis;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &.npc{
            
        }
        button{
            background:none;
            height: 100%;
            font-size: large;
            border-radius:25px;
        }
    }
    .card:hover{
        border-color: #fc0;
        cursor:pointer;
        p{
            text-shadow: #fc0 1px 0 5px, white 1px 0 10px;
        }
    }
    .popover{
        background-color:rgba(75, 75, 75, 0.5);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;

    }
    :global(.MuiPaper-root){
        border: solid rgb(100, 100, 100);
        border-radius:25px;
        border-width:2px;
        background-color: rgba(0, 0, 0, 1) !important;

        width:55% !important;
        height: 90% !important;

        margin-left: 20% !important;
        margin-right: 20% !important;
        margin-top:5px !important;
        padding-left: 20px;
        padding-right:20px;

        color: aliceblue !important;

        textarea{
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;

            padding: 5px;

            width: 40%;
            height: 50%;
        }
    }
}

@media screen and (min-width:360px)
and (max-width: 1023px){
    .card{
        border: black;
        border-radius: 5px;
        background-color: rgba(75, 75, 75, 0.5);

        scroll-snap-align:center;

        min-width:25%;
        width: 25%;
        max-width:50%;
        min-height:25%;
        height:25%;

        font-weight: bolder;
        font-size:xx-large;

        margin: 5px;

        text-align: center;
        overflow:hidden;
        text-overflow:ellipsis;

        &.npc{

        }
        .display{
            background-color:rgba(75, 75, 75, 0.5);
        }
    }
}