

.form_body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    margin-top:20px;
    margin-bottom: 20px;
    min-height: fit-content;
    height: 80%;
    max-height: none;
    min-width: fit-content;
    width: 20%;
    max-width: none;
    border: solid black;
    background-color:black;


    #section1{
        width: 90%;
        
        .autocomplete{
            height: 50px;
            background-color: rgb(255, 255, 255);
            text-align:center;
            color: red;
        }
    }

    #section2{
        
        input{
            width: 90%;

        }
    }


    #section3{
        input{
            background-color: blue;
            width: 90%;
            text-align:t;
        }
    }
}