.main{
    background-image:url(../assets/table_and_parchment.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    
    height: 100vh;
    width: 100vw;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_body{
    border: solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .15);
    

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;

    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    min-height: fit-content;
    height: 80%;
    max-height: none;
    min-width: fit-content;
    max-width: none;

    

    h3{
        color: black;
    }

    #section1{
        align-self: center;
        justify-items: center;
        justify-content: center;

        width: 90%;
       
        :global(.MuiAutocomplete-root){
            width: 80%;
            height: 50px;

            display: flex;
            flex-direction: column;
            
            align-self: center;
            justify-self: center;

            border-color: rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 255, 255, 0.15);
        }
        
    }

    #section2{
        align-self: center;

        width:90%;

        input{
            width: 80%;
            height: 50px;

            border-color: rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 255, 255, 0.15);

            color: black;
            text-align: center;
            font-size: large;
        }
        
    }


    #section3{
        align-self: center;

        width:90%;

        input{
            width: 80%;
            height: 50px;

            border-color: rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 255, 255, 0.15);

            color: black;
            text-align:center;
            font-size: large;
        }
    }
}