@media screen and (min-width:1024px){

    .image_list{
        height: 100%;
        width: 100%;
        border-radius: 5px;

        .image_item:hover{
            cursor:pointer;
            border-width: 20px;
            border: solid #fc0;
        }
    }

    .image_item{
        border: solid black;
    }
    .image_item:hover{
        cursor: zoom-in;
    }

    .box{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 99%;

        .big_image{
            display: flex;
            justify-content: center;
            border: solid black;
            object-fit: contain;

            max-height: 90%;
            max-width: 90%;
        }
        .big_image:hover{
            cursor: zoom-out;
        }
    }


}

@media screen and (min-width:360px)
and (max-width: 1023px){



}