@media screen and (min-width:1024px){

    .image_list{
        height: 100%;
        width: 100%;
        border-radius: 5px;

        .image_item:hover{
            cursor:pointer;
            
        }
    }

    .image_item{
        border: solid black;
        position: relative;

        .delete{
            position:absolute;
            border: 2px solid transparent;

            right:0;

            width:25px;
            height:25px;

            background-color: rgba(75, 75, 75, 0.5);
        }

        .delete:hover{
            border: 2px solid white;
            background-color: black;
        }
    }
    .image_item:hover{
        cursor: zoom-in;
    }

    

    .box{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 99%;

        .big_image{
            display: flex;
            justify-content: center;
            border: solid black;
            object-fit: contain;

            max-height: 90%;
            max-width: 90%;
        }
        .big_image:hover{
            cursor: zoom-out;
        }
    }


}

@media screen and (min-width:360px)
and (max-width: 1023px){

    .image_list{
        height: 100%;
        width: 100%;
        border-radius: 5px;
        grid-template-columns: repeat(2, 1fr) !important;

        .image_item:hover{
            cursor:pointer;
            
        }
    }

    .image_item{
        border: solid black;
        position: relative;

        .delete{
            position:absolute;
            border: 2px solid transparent;

            right:0;

            width:25px;
            height:25px;
        }

        .delete:hover{
            border: 2px solid white;
        }
    }
    .image_item:hover{
        cursor: zoom-in;
    }

    

    .box{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 99%;

        .big_image{
            display: flex;
            justify-content: center;
            border: solid black;
            object-fit: contain;

            max-height: 90%;
            max-width: 90%;
        }
        .big_image:hover{
            cursor: zoom-out;
        }
    }

}