@media screen and (min-width:1024px) {
    .main{
        
        background-repeat: no-repeat;
        background-size: cover;

        height: 100dvh;
        min-width: 360px;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media screen and (min-width:360px)
and (max-width: 1023px){
    .main{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100dh;
        min-width: 360px;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}