@media screen and (min-width:1024px){
    .main{

        background-repeat: no-repeat;
        background-size: cover;

        height: 100vh;
        min-width: 360px;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top_bar{
        border: solid black;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content:center;
        flex-grow:0,0,0;

        min-width: 80%;
        width: 95%;
        max-width: 95%;
        min-height: fit-content;
        height: 100px;
        max-height:20%;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card_panel{
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: flex-start;
        align-content: baseline;

        min-width: 95%;
        width:95%;
        max-width: 95%;
        height: 500px;

        border: solid black;
        border-radius: 10px;

    }

}


@media screen and (min-width:360px) and (max-width:1023px){
    .main{
        
        background-repeat: no-repeat;
        background-size: cover;

        height: 100vh;
        min-width: 360px;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: hidden;
    }
}