@media screen and (min-width:1024px){
    .tool_bar{
        border: solid black;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        min-width: fit-content;
        width:90%;
        max-width: auto;
        min-height: fit-content;
        height:10%;
        

        margin-top: 2%;
        margin-bottom: 2%;

        h4{
            color:white;
            font-size: large;
            margin-right: 5px;
        }

        .favourites{
            display: flex;
            flex-direction: row;
            align-items: center;

            min-width: none;
            width:40%;
            max-width: 50%;

            margin: 5px;
        }

        .recent_edits{
            display: flex;
            flex-direction: row;
            align-items:center;

            min-width: none;
            width:40%;
            max-width: 50%;

            margin: 5px;
        }
        .container{
            max-width: fit-content;
            min-width: none;
        }
        .search_bar{
            display: flex;
            flex-direction: row;
            align-items:center;

            min-width: none;
            width:40%;
            max-width: 50%;

            margin: 5px;
            
            
            .Autocomplete{
                border: solid black;
                border-width: 1px;
                background-color: rgba(75, 75, 75, 0.5);
                border-radius: 5px;
    
                width:70%;

                input{
                    color: white;
                    border:none;
                }
            }
        }
    }
}

@media screen and (min-width:360px) and (max-width:1023px){
    .tool_bar{
        border: solid black;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;
        gap:15px;
        justify-content:space-between;

        min-width: fit-content;
        width:90%;
        max-width: auto;
        min-height: fit-content;

        margin: 5px;

        h4{
            margin-right: 5px;
            margin-left: 5px;
            white-space: nowrap;
        }

        .favourites{
            scroll-snap-align: start;
            scroll-snap-stop: always;

            display: flex;
            flex-direction: row;
            align-items: center;

            min-width: none;
            width:90%;
            max-width: 90%;
            height:50px;
        }

        .recent_edits{
            scroll-snap-align: center;
            scroll-snap-stop: always;

            display: flex;
            flex-direction: row;
            align-items:center;

            min-width: none;
            width:90%;
            max-width: 90%;
            height:50px;
        }

        .search_bar{
            scroll-snap-align: end;
            scroll-snap-stop: always;

            display: flex;
            flex-direction: row;
            align-items:center;

            min-width: none;
            width:90%;
            max-width: 90%;
            height:50px;

            .Autocomplete{
                border: solid black;
                border-width: 1px;
                background-color: rgba(75, 75, 75, 0.5);
                border-radius: 5px;
    
                width:100%;

                input{
                    color: white;
                    border:none;
                    padding:2px;
                }
            }

        }
    }
}