@media screen and (min-width:1024px) {
    .top_bar{
        border: solid black;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content:center;
        flex-grow:0,0,0;
    
        min-width: 80%;
        width: 90%;
        max-width: 95%;
        min-height: fit-content;
        height: 100px;
        max-height:20%;
    
        margin-top: 20px;
        margin-bottom: 20px;
    
        img{
            border: solid black;
            border-radius: 75px;
            background-color: rgba(255, 255, 255, 0.15);
    
            height: 120px;
            width: 120px;
                
            margin-left: 15px;
        }

        .title_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            text-align: center;
        }

        .dashboard_menu{
            border: solid black;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.15);

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;

            height: 120px;
            width: 120px;

            margin-right: 15px;

            button{
                border: solid black;
                border-radius: 5px;

                width: 75%;
                height: 60%;

                font-size: medium;

            }
        }
    }
}

@media screen and (min-width:360px) and (max-width:1023px){
    .top_bar{
        border: solid black;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content:center;
        flex-grow:0,0,0;

        min-width: 80%;
        width: 90%;
        max-width: 95%;
        min-height: fit-content;
        height: 100px;

        margin-top: 20px;
        margin-bottom: 10px;

        img{
            border: solid black;
            border-radius: 75px;
            background-color: rgba(255, 255, 255, 0.15);

            height: 75px;
            width: 75px;
            
            margin-left: 5px;
        }

        .title_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            text-align: center;

            h2{
                font-size:large;
            }
            h3{
                font-size: medium;
            }
        }

        .dashboard_menu{
            border: solid black;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.15);

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            align-items: center;
            align-content: center;
            justify-content: center;

            height: 75px;
            width: 75px;

            margin-right: 5px;

            button{
                border: solid black;
                border-radius: 5px;

                width: 75%;
                height: 60%;

                font-size:x-small;
                text-align: center;
                justify-content: center;

            }
        }
    }
}