main{
    background-color: blue;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .topbar{
        background-color: red;
        display: flex;
        padding-left: 50px;
        width: 95vw;
        margin-top: 2vh;
        margin-bottom: 10vh;
    }

    .RecentlyEditted{
        background-color: rgb(87, 1, 95);
        width:95vw;
        height:10vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .ContentBulk{
        display: flex;
        flex-direction: row;
        flex: auto;
        justify-content: space-between;
        background-color: darkgoldenrod;
        height: 100%;
        width: 100%;
        max-width: 95vw;
        margin-left: 50px;
        margin-right: 50px;

        #Sidebar{
            background-color: brown;
            display: flex;
            flex-direction: column;
            width: 5vw;
        }

        #CardPanel{
            display: flex;
            flex-direction: column;
            background-color: black;
            width:5vw;
        }

        .Calendar{
            background-color: green;
            width: 5vw;
        }
    }

    .bottombar{
        background-color: black;
    }

}